{% load static %}

<!-- start: b-clients -->
<div class="b-clients">
	<div class="b-clients__label">Заказчики</div>
	<div class="b-clients__showcase-controls">
		<a href="#"><img src="{% static 'insoft/img/clients-showcase-arrow-backward.jpg' %}" title="Прокрутить назад"></a>
		&nbsp;
		<a href="#"><img src="{% static 'insoft/img/clients-showcase-arrow-forward.jpg' %}" title="Прокрутить вперед"></a>
	</div>
	<div class="b-clients__showcase">

		<!-- start: b-clients-showcase -->
		<ul class="b-clients-showcase">
			<li class="b-clients-showcase__item">
				<a href="#">
					<img src="{% static 'insoft/fixtures/client-1.jpg' %}" title="Client 1">
				</a>
			</li>
			<li class="b-clients-showcase__separator"></li>
			<li class="b-clients-showcase__item">
				<a href="#">
					<img src="{% static 'insoft/fixtures/client-2.jpg' %}" title="Client 2">
				</a>
			</li>
			<li class="b-clients-showcase__separator"></li>
			<li class="b-clients-showcase__item">
				<a href="#">
					<img src="{% static 'insoft/fixtures/client-3.jpg' %}" title="Client 3">
				</a>
			</li>
			<li class="b-clients-showcase__separator"></li>
			<li class="b-clients-showcase__item">
				<a href="#">
					<img src="{% static 'insoft/fixtures/client-4.jpg' %}" title="Client 4">
				</a>
			</li>
			<li class="b-clients-showcase__separator"></li>
			<li class="b-clients-showcase__item">
				<a href="#">
					<img src="{% static 'insoft/fixtures/client-5.jpg' %}" title="Client 5">
				</a>
			</li>
			<li class="b-clients-showcase__separator"></li>
			<li class="b-clients-showcase__item">
				<a href="#">
					<img src="{% static 'insoft/fixtures/client-6.jpg' %}" title="Client 6">
				</a>
			</li>
			<li class="b-clients-showcase__separator"></li>
			<li class="b-clients-showcase__item">
				<a href="#">
					<img src="{% static 'insoft/fixtures/client-7.jpg' %}" title="Client 7">
				</a>
			</li>
			<li class="b-clients-showcase__separator"></li>
			<li class="b-clients-showcase__item">
				<a href="#">
					<img src="{% static 'insoft/fixtures/client-8.jpg' %}" title="Client 8">
				</a>
			</li>
			<li class="b-clients-showcase__separator"></li>
			<li class="b-clients-showcase__item">
				<a href="#">
					<img src="{% static 'insoft/fixtures/client-9.jpg' %}" title="Client 9">
				</a>
			</li>
			<li class="b-clients-showcase__separator"></li>
			<li class="b-clients-showcase__item">
				<a href="#">
					<img src="{% static 'insoft/fixtures/client-10.jpg' %}" title="Client 10">
				</a>
			</li>
		</ul>
		<!-- end: b-clients-showcase -->

	</div>
</div>
<!-- end: b-clients -->
