{% extends 'insoft/base.html' %}
{% load wagtailimages_tags %}

{% block workspace_body %}
	{% for category in self.categories %}
		<div class="b-workspace__label">
			<span>{{ category.title }}</span>
		</div>

		<ul class="documents">
			{% for doc in category.documents %}

                {% with doc.scans.first.scan as scan %}
                    <script>
                        var _sD{{forloop.parentloop.counter}}{{forloop.counter}} = [{
                        src: '{{scan.file}}',
                        w: {{scan.width}},
                        h: {{scan.height}}
                    }];
                    </script>
                {% endwith %}

                {% if doc.scans.count == 2 %}
                    {% with doc.scans.last.scan as scan %}
                        <script>
                            _sD{{forloop.parentloop.counter}}{{forloop.counter}}.push({
                            src: '{{scan.file}}',
                            w: {{scan.width}},
                            h: {{scan.height}}
                        });
                        </script>
                    {% endwith %}
                {% endif %}

                <li>
                    <div class="document__scan"
                         onclick="showGalary('{{ doc.description }}', _sD{{forloop.parentloop.counter}}{{forloop.counter}})">
                            {% image doc.scans.first.scan fill-150x220 %}
                        <span class="document__description">{{ doc.description }}</span>
                    </div>
                </li>
			{% endfor %}
		</ul>
	{% endfor %}
    {% include 'insoft/include/galery_pane.html' %}
{% endblock %}
