{% extends 'insoft/base.html' %}
{% load static wagtailcore_tags insoft_tags %}

{% block side_panels %}
	{% news_widget news=2 cnews=3 %}
{% endblock %}

{% block workspace_head %}
	<div class="b-workspace__label">
		<span>{{ self.headline }}</span>
	</div>
{% endblock %}

{% block workspace_body %}
	<div class="b-workspace__super">
	    {% if self.content %}{{ self.content|richtext }}{% endif %}
	</div>

	<!-- start: b-services-showcase -->
	<span class="b-services-showcase__label">Направления деятельности:</span>
	<div class="b-services-showcase">
		<div class="b-services-showcase__left-block">
			<div class="b-services-showcase__item b-services-showcase__item_red-db">
				<strong>Разработка</strong> и сопровождение программного обеспечения
			</div>
			<div class="b-services-showcase__separator"></div>
			<div class="b-services-showcase__item b-services-showcase__item_blue-network">
				<strong>Проектирование распределенных</strong> вычислительных систем
			</div>
		</div>
		<div class="b-services-showcase__right-block">
			<div class="b-services-showcase__item b-services-showcase__item_red-chart">
				<strong>Внедрение и обслуживание</strong> распределенных вычислительных систем
			</div>
			<div class="b-services-showcase__separator"></div>
			<div class="b-services-showcase__item b-services-showcase__item_blue-db">
				<strong>Разработка</strong> и сопровождение программного обеспечения
			</div>
		</div>
	</div>
	<!-- end: b-services-showcase -->
{% endblock %}

{% block workspace_foot %}
	<div class="b-workspace__bottom-link">
		<a href="#">Все направления деятельности</a>
	</div>
{% endblock %}