{% load wagtailcore_tags wagtailimages_tags static %}
<div class="b-clients">
	<div class="b-clients__label"><a href="/formula/zakazchik2/">Заказчики</a></div>
	<div class="b-clients__showcase-controls">
		<img src="{% static 'insoft/img/clients-showcase-arrow-backward.jpg' %}" title="Прокрутить назад">
		&nbsp;
		<img src="{% static 'insoft/img/clients-showcase-arrow-forward.jpg' %}" title="Прокрутить вперед">
	</div>
	<div class="b-clients__showcase">
		<!-- start: b-clients-showcase -->
        {% if customer_links %}
		<ul class="b-clients-showcase">
            {% for cust in customer_links %}
                <li class="b-clients-showcase__item">
                    {% if cust.page %}
                    <a href="{% pageurl cust.page %}">
                        {% if cust.emblem %}
                            {% image cust.emblem max-250x50 %}
                            <div style="display:none; position: relative">
                                {% image cust.emblem original %}
                                <div>{{ cust.title }}</div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if cust.page %}</a>{% endif %}
                </li>
            {% endfor %}
		</ul>
        <script src="{% static 'insoft/js/carousel.min.js' %}"></script>
        <script>
            $('.b-clients-showcase__item > a > img').hover(function() {
                $(this).css('display', 'none');
                $(this).next().css('display', '');
            });
            $('.b-clients-showcase__item > a > div').hover(function(){

            }, function(){
                $(this).css('display', 'none');
                $(this).prev().css('display', '');
            });
            var _b1k = $('.b-clients__showcase-controls');
            $('.b-clients__showcase').Carousel({
              visible: 9,
              margin: 10,
              rotateBy: 1,
              speed: 500,
              auto: false,
              btnNext: _b1k.children(':first'),
              btnPrev: _b1k.children(':last')
          });
        </script>
        {% endif %}
		<!-- end: b-clients-showcase -->
	</div>
</div>
